@import url('https://fonts.googleapis.com/css2?family=Anton&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Anton", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  background-color: #050000;
  color: #ff4444;
  overflow: hidden;
}
